<lib-toastify-toast-container></lib-toastify-toast-container>
<div *ngIf="data.displayLoginForm; else displayRegisterForm">
  <h1 mat-dialog-title>Login</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="data.username" [formControl]="usernameFormControl" />
      @if (usernameFormControl.hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput [(ngModel)]="data.password" [formControl]="passwordFormControl" />
      @if (passwordFormControl.hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button cdkFocusInitial (click)="onSubmit()">Login</button>
  </div>
</div>

<ng-template #displayRegisterForm>
  <div>
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>E-mail address</mat-label>
        <input matInput [(ngModel)]="data.email" [formControl]="emailFormControl" />
        @if (emailFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="data.username" [formControl]="usernameFormControl" />
        @if (usernameFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="data.password" [formControl]="passwordFormControl" />
        @if (passwordFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input matInput [(ngModel)]="data.repeatPassword" [formControl]="repeatPasswordFormControl" />
        @if (repeatPasswordFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput [(ngModel)]="data.country" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="data.city" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="data.age" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Desired goals</mat-label>
        <mat-select multiple [formControl]="goalsFormControl">
          @for (goal of goalsOptions; track goal) {
          <mat-option [value]="goal.value">{{ goal.displayValue }}</mat-option>
          }
        </mat-select>
        @if (goalsFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [formControl]="genderFormControl">
          <mat-option></mat-option>
          @for (gender of genderOptions; track gender) {
          <mat-option [value]="gender.value">{{ gender.displayValue }}</mat-option>
          }
        </mat-select>
        @if (genderFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prefered activities</mat-label>
        <mat-select multiple [formControl]="preferedActivitiesFormControl">
          @for (activity of preferedActivitiesOptions; track activity) {
          <mat-option [value]="activity.value">{{ activity.displayValue }}</mat-option>
          }
        </mat-select>
        @if (preferedActivitiesFormControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button cdkFocusInitial>Register</button>
    </div>
  </div>
</ng-template>
