<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div>
  <div class="actions-container">
    <custom-ripple class="ripple-component" divText="Generate a personalized self care plan" />
    <custom-ripple class="ripple-component" divText="Share your troubles and receive advise from the chatbot" />
  </div>
</div>
<div class="actions-container">
  <h1 class="mat-subheading-2">Sign up so you can track your plan's goals and maximize your progress.</h1>
  <button class="ripple-component" mat-raised-button color="accent">Login</button>
  <button class="ripple-component" mat-raised-button color="accent">Register</button>
</div>
