<style>
  .main {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    width: 100%;
    max-width: 700px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
</style>
<p>
  <mat-toolbar>
    <span>Mental assistance platform</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="My profile">
      <mat-icon svgIcon="user">My profile</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Logout">
      <mat-icon svgIcon="logout">Logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<h1 class="md-display-2 white-text main content">Your self care plans</h1>
<mat-card>
  <ng-container *ngIf="hasSelfCarePlan; else elseBlock">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let plan of userPlans" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Plan №1</mat-panel-title>
          <mat-panel-description> Progress: {{ plan.progress }}%</mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex; width: 100%;" *ngFor="let task of plan.dailyTasks">
          <p style="flex: 1; align-content: center">{{ task.activity }}</p>
          <p style="flex: 1;">{{ displayTaskProgress(task) }}</p>
          <mat-progress-bar style="flex: 1;" mode="determinate" [value]="task.percentCompleted"></mat-progress-bar>
          <button mat-icon-button matTooltip="Accent" color="accent" (click)="openDialog('TrackProgress', plan, task)">
            <mat-icon svgIcon="update">Track</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
      
    </mat-accordion>
  </ng-container>
  <ng-template #elseBlock>
    <h3 class="md-display-2 white-text main content">You have no self-care plans created.</h3>
    <button mat-icon-button aria-label="Create plan" (click)="openDialog('CreatePlan')">
      <mat-icon svgIcon="add">Create</mat-icon>
    </button>
  </ng-template>
</mat-card>
<h1 class="md-display-2 white-text main content">Your previous chats</h1>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description> This is a summary of the content </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description> Currently I am {{ isPanelOpen ? "open" : "closed" }} </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
